/* --------------------- Global --------------------- */ 

@font-face {
	font-family: 'BebasNeue-Book';
	src: url('../fonts/BebasNeue Book.otf');
}

@font-face {
	font-family: 'BebasNeue-Bold';
	src: url('../fonts/BebasNeue Bold.otf');
}


@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
}

body {
	font-family: 'OpenSans-Regular';
}

section {
	padding: 80px 10%;
}

h1, h2 {
	font-family: 'BebasNeue-Book';
	text-align: center;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px
}

h1 b, h2 b {
	font-family: 'BebasNeue-Bold';
	font-weight: normal;
}

a {
	text-decoration: underline;
	color: #fff;
}

/* --------------------- Menu --------------------- */ 


/* fix konstantin 100% slider */
html, body, #slideshow, .item, #owl-demo .item img{
	height: 100%;
}
/* fin fix */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body  {
	/*background: #f7f7f7;*/
	background: #709ab2;
	min-height: 100%;
}

#accueil, #services{
	background-color: #709ab2;
	color: #f2f2f2;
}

#presentation{
	background-color: #1a1a1a;
	color: #f2f2f2;
}

#equipe{
	background-color: #f2f2f2;
	color: #1a1a1a;
}

.containerMenu {
	padding: 80px;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 50px 150px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #000;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	left: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #1abc9c;
}


/* --------------------- Header --------------------- */ 

.accueil {
	text-align: center;
	width:100%;
	min-height: 100%;
	height: 80%;
}
.mockupDD {
	display: inline-block;
	margin: auto;
	width: 100%;
	height: auto;
}

.mockupDD img {
	width: 100%;
}

@media all {
    .accueil {
        width: 100%;
    }
}
 
/*@media all and (max-width: 800px) {
    .accueil > img {
        url(img/mockup_tab.png);
    }
}*/
 
/*@media all and (max-width: 480px) {
    .accueil {
        width: 55px;
    }
}*/

@media only screen and (min-width: 1025px) { /*<<<large*/
	#pc { display: block; max-width: 66%;}
	#tab { display: none; }
	#tel { display: none; }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) { /*<<<medium*/
	#pc { display: none; }
	#tab { display: block; }
	#tel { display: none; }
}

@media only screen and (max-width: 479px) { /*<<<small*/
	#pc { display: none; }
	#tab { display: none; }
	#tel { display: block; } 
}

/* --------------------- Présentation --------------------- */ 

.txtcenter {
	text-align:center;
}

.design img, .dev img, .web img{
	width: 100%;
}

.left {
	line-height: 30px;
	text-align:left;
}

.right {
	line-height: 30px;
	text-align: right;
}



/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/********************								**********************/
/********************			SERVICES			**********************/
/********************								**********************/
/********************								**********************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/

.imgServices {
	height: 26%;
}

.txtServices {
	height: 11%;
	margin-top: 0px;
}

#services div {
	text-align: center;
}

.description {
	height: 100%;
	vertical-align: middle;
}



/*************************************************************************/
/********************								**********************/
/********************			EQUIPE				**********************/
/********************								**********************/
/********************								**********************/
/*************************************************************************/


.imgTrombi img{
	width: 100%;
}



/*************************************************************************/
/********************								**********************/
/********************			SLIDESHOW			**********************/
/********************								**********************/
/********************								**********************/
/*************************************************************************/

.deco {
	pointer-events: none;
}

.deco--title {
	position: absolute;
	top: 0px;
	right: 60px;
	left: 60px;
	height: 100vh;
	background: url(../img/deco.svg) no-repeat center top;
	background-size: 100%;
}

.slideshow {
	position: relative;
	width: 100vw;
	margin: 10vh 0 5em;
}

.slide {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-align-items: center;
	align-items: center;
	width: 100vw;
	text-align: center;
}

.js .slide {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none;
}

.slide.slide--current {
	position: relative;
	visibility: visible;
}

.deco--circle {
	position: absolute;
	top: 0;
	border-radius: 50%;
	background: #fff;
}

.deco--circle-left {
	right: calc(100% - 140px);
}

.deco--circle-right {
	left: calc(100% - 140px);
}

.deco--circle,
.slide__inner {
	width: 450px;
	height: 450px;
}

.slide__item {
	position: relative;
	width: 100%;
}

.no-js .slide__item {
	display: none;
}

.slide__inner {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	pointer-events: auto;
}

.deco--expander {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -225px 0 0 -225px;
	border-radius: 50%;
	background: #fff;
}

.slide__title {
	position: relative;
	text-indent: 4px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #1a1a1a;
}

.slide__title--preview {
	font-size: 1.05em;
	margin: 2em 0 0 0;
	padding: 0;
	opacity: 0;
	text-align: center;
}

.slide__title--main {
	font-size: 2.5em;
	line-height: 1;
	margin: 0 0 0.25em;
	color: #1a1a1a;
}

.slide--current .slide__title--preview {
	opacity: 1;
}

.slide--open .slide__title--main {
	opacity: 1;
}

.slide__price {
	font-weight: bold;
	display: inline-block;
	color: #1a1a1a;
}

.slide__price--large {
	font-size: 1.3em;
	vertical-align: middle;
}

.slide__img {
	position: relative;
	display: block;
	margin: 0 auto;
}

.slide__img--small {
	max-height: 80%;
}

.slide__img--large {
	height: 50vh;
	max-height: 400px;
	margin: 0 auto 3em;
}

.action {
	font-size: 1.5em;
	line-height: 54px;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
	border: none;
	background: none;
}

.action:focus {
	outline: none;
}

.action--open {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 40px 40px 0;
	color: #fff;
	border-radius: 50%;
	background: #f2f2f2;
	-webkit-transition: -webkit-transform 0.1s, background 0.1s, opacity 0.1s;
	transition: transform 0.1s, background 0.1s, opacity 0.1s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.action--open:focus,
.action--open:hover {
	background: #1a1a1a;
	-webkit-transform: scale3d(1.0865, 1.0865, 1);
	transform: scale3d(1.0865, 1.0865, 1);
}

.slide--open .action--open {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale3d(0.3, 0.3, 1);
	transform: scale3d(0.3, 0.3, 1);
}

.action--close {
	position: fixed;
	z-index: 1001;
	top: 10px;
	right: 15px;
	color: #f2f2f2;
	-webkit-transition: -webkit-transform 0.1s, opacity 0.1s, color 0.1s;
	transition: transform 0.1s, opacity 0.1s, color 0.1s;
}

.action--close:focus,
.action--close:hover {
	color: #1a1a1a;
}

.slide--open ~ .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0.5s, 0.5s, 0s;
	transition-delay: 0.5s, 0.5s, 0s;
}

.action--close,
.slide--close ~ .action--close {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 1);
	transform: scale3d(0.3, 0.3, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.js .slide__content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	opacity: 0;
}

.js .slide--open .slide__content {
	pointer-events: auto;
	opacity: 1;
}

.slide__content-scroller {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 2em;
	position: relative;
}

.js .slide__content-scroller {
	position: fixed;
	min-height: 100vh;
	width: 100vw;
}

.slide__description {
	font-size: 1em;
	font-weight: bold;
	margin: 0.25em auto 3em;
	text-indent: 4px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #f2f2f2;
}

.button {
	font-weight: bold;
	margin: 0 1em;
	padding: 0.5em 1em;
	color: #fff;
	border: none;
	border-radius: 2px;
	background: #f2f2f2;
}

.button:focus,
.button:hover {
	outline: none;
	background: #1a1a1a;
}

.navbutton {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 30px;
	margin: 0;
	margin: -50px 0 0 0;
	padding: 0;
	border: none;
	background: none;
}

.navbutton__line {
	-webkit-transition: stroke 0.2s;
	transition: stroke 0.2s;
}

.navbutton:focus {
	outline: none;
}

.navbutton:hover .navbutton__line {
	stroke: #1a1a1a;
}

.navbutton--next {
	-webkit-transform: translate3d(220px,-125px,0);
	transform: translate3d(220px,-125px,0);
}

.navbutton--prev {
	-webkit-transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
	transform: translate3d(-100%, 0, 0) translate3d(-220px,137px,0);
} /* +12 of difference */

/* Helper classes */

.lockscroll {
	position: fixed;
	overflow-y: scroll;
	height: 100vh;
}

.noscroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
}

.noscroll .deco--expander {
	display: none;
}

.scrollable {
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background: #fff;
}

.scrollable .slide__content-scroller {
	position: relative;
}

@media screen and (max-width: 50em) {
	.deco--title {
		right: -50px;
		left: -50px;
	}
	.deco--circle,
	.slide__inner {
		width: 260px;
		height: 260px;
	}
	.deco--expander {
		margin: -130px 0 0 -130px;
	}
	.deco--circle-left {
		right: calc(100% - 50px);
	}
	.deco--circle-right {
		left: calc(100% - 50px);
	}
	.slideshow {
		margin-top: 0;
	}
	.action--open {
		margin: 0 12px 12px 0;
	}
	.slide__content-scroller {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}
	.slide__img--large {
		margin: 0 auto 2em;
	}
	.slide__title--preview,
	.slide__title--main {
		font-size: 0.85em;
	}
	.slide__description {
		font-size: 0.5em;
	}
	.navbutton--next {
		-webkit-transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
		transform: translate3d(75px,-90px,0) scale3d(0.5,0.5,1);
	}
	.navbutton--prev {
		-webkit-transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
		transform: translate3d(-100%, 0, 0) translate3d(-75px,115px,0) scale3d(0.5,0.5,1);
	}
}
/*=====================*/
/* Page contact */
/*=====================*/
.fond{
	background-color: #709AB2;
	color: white;
}
.centre{
	text-align: center;
}
#divContact{
	margin-top: 80px;
}
/************************************************************************************************/
/*																								*/
/* code CSS servant principalement à positionner, dimensionner et décorer les différents blocs 	*/
/*																								*/
/************************************************************************************************/