{% extends "base.html.twig" %}

{% block body %}
<section id="promotions">
  <h1 class="centre">Les <strong>promotions</strong></h1>
  <div class="container-fluid">
  {% set principal = 1 %}
  {% set first = 1 %}
  {% for promotion in promotions %}
    {% if (principal or  first) %} <div class="row"> {% endif %}
          <div class="{% if (principal) %}col-md-12 {% set principal = 0 %}{% else %}col-md-6{% set first = 0 %}{% endif %}">
            <h2>{{ promotion.date }}</h2>
            <img src="{{ promotion.media }}" alt="Promotion 2016/2017 - Digital Design - ISEN Brest"/>
          </div>
        {% if (principal or  not first) %}</div>{% set first = 1 %}{% endif %}
      {% set principal = 0 %}
  {% endfor %}
</div>
</section>
{% endblock %}
