{% extends "base.html.twig" %}

{% block body %}
<section id="divProjet">
  <h1 class="centre">Les <strong>promotions</strong></h1>
  <div>
    <h2>20<strong>16</strong> - 20<strong>17</strong></h2>
    <img src="/promotions/2016_2017.png" alt="Promotion 2016/2017 - Digital Design - ISEN Brest"/>
  </div>
</section>
{% endblock %}
