<nav id="bt-menu" class="bt-menu">
  <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
  <ul>
    <li><a href=".">Accueil</a></li>
    <li><a href="projets">Projets</a></li>
    <li><a href="tuto">Tutos</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
  <ul>
    <li><a href="https://www.facebook.com/digitaldesign.brest"><i class="fa fa-facebook-official"></i></a></li>
    <li><a href="https://github.com/DigitalDesign"><i class="fa fa-github"></i></a></li>
  </ul>
</nav>
